* {
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    color: black; 
    margin: 0;
    flex-grow: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: .95em;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
}

h2, h3, a {
    color: black;
}

a {
    text-decoration: none;
}
.main-header, footer {
    background-color: #f7f7f7;
}
.portfolio, .certificates {
    background-color: orange;
    color: white;
    box-shadow: 0px 5px 8px #888888;
}
.container_one {
    background-color: #333; /*Nightwing Rebirth SchemeColor.com*/
}
.container_three {
    background-color: rgba(153, 204, 255, 0.3); /*Nightwing Rebirth SchemeColor.com*/
}
#greeting {
    color: white;
}

.container_one, .container_two, .container_three { 
    text-align: center;
}

hr {
    width: 90%;
}
.subfooter {
    margin: auto;
    width: 90%;
}
img {
    max-width:100%;
}
/*---navigation---*/

.name  {
    font-size: 1.35em;
    margin: 0;
}

.name a,
.nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.nav a, #portfolio, #certificates, #contact {
    font-size: .95em;
    color: black;
    text-transform: uppercase;
}
.portfolio, .certificates, .contact {
    text-align: center;
}

.nav a:hover {
    background-color: orange;
}

/* ----CONTAINERS---- */

.main-header {
    padding: .5em 0em;
}
.main-footer {
    text-align: center;
    padding-top: 18.720px;
}
.subfooter {
    display: flex
}


/* ----Media Queries---- */

@media (min-width: 768px) {
    .name,
    .nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }   
    .container_one {
        display: flex;
        padding: 20px 20px;
    }
    #greeting {
        order: -1;
        text-align: left;
        font-size: 1.25em;
        padding: 25px;
    }
    .container_two, .container_three {
        display: flex;
        flex-wrap: wrap;
    }
    .container_two>* {
        flex: 1 1 384px;
        width: 90%;
        border: white solid 3px;
    }
 
    .item7, .item8, .item9 {
        flex: 1;
    }
    .subfooter {
        margin: auto;
        width: 90%;
    }
    .item11 { 
        display: none; /* hide once screen is 768px*/
        } 
    .subfooter .nav {
        flex: 1;
        justify-content: end;
    }
}

@media (min-width: 1024px) {
    .container_two>* {
        flex: 1 1 33%;
        justify-content: space-between;
        border: white solid 3px;
    } 
    .container_three {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
       
    #greeting {
        font-size: 1.5em;
        padding: 25px
    }
    .main-header {

        display: flex;
    }

    .nav {
        flex: 1;
        justify-content: end;
    }
        
    .item11 { 
    display: none; /* hide once screen is 1024px*/
    } 
    .subfooter,
    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }
    .subfooter {
        margin: auto;
        width: 90%;
    }
    subfooter .nav,
    .item10  {
        flex: 1;
        text-transform: uppercase;
        font-size: .95em;
       
    }
}