* {
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    color: black; 
    margin: 0;
    flex-grow: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: .95em;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
}

h2, h3, a {
    color: black;
}

a {
    text-decoration: none;
}
.main-header, .main-footer {
    background-color: #f7f7f7;
}
.container_one {
    background-color: #333; /*Nightwing Rebirth SchemeColor.com*/
}
.container_three {
    background-color: rgba(153, 204, 255, 0.3); /*Nightwing Rebirth SchemeColor.com*/
}
#greeting {
    color: white;
}

.container_one, .container_two, .container_three { 
    text-align: center;
}

hr {
    width: 90%;
}

img {
    max-width:100%;
}
/*---navigation---*/

.name,  {
    font-size: 1.35em;
    margin: 0;
}
.nav {
    margin-top: 5px;
}

.name a,
.nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.nav a, #portfolio, #certificates, #contact {
    font-size: .95em;
    color: black;
    text-transform: uppercase;
}
.portfolio, .certificates, .contact {
    text-align: center;
}

.nav a:hover {
    background-color: orange;
}

/* ----CONTAINERS---- */

.main-header {
    padding: .5em 0em;
}
.main-footer {
    text-align: center;
    padding-top: 25px;
}
.subfooter {
    display: flex
}
.item8, .item9 {
    flex: 1;
}

/* ----Media Queries---- */

@media (min-width: 768px) {
.main-header
.nav     {
    display: flex;
    justify-content: center;
}   
.container_one {
    display: flex;
    padding: 20px 20px;
}
#greeting {
    order: -1;
    text-align: left;
    font-size: 1.25em;
    padding: 25px;
}
.container_two, .container_three {
    display: flex;
    flex-wrap: wrap;
}
.container_two>* {
    flex: 1 1 384px;
}

.item7, .item8, .item9 {
    flex: 1;
}
}

@media (min-width: 1024px) {
    .container_two>* {
        flex: 1 1 341.33px;
    }
    #greeting {
        font-size: 1.5em;
        padding: 25px
    }
/* @media (min-width: 1366px) {
    .container_two>* {
        flex: 1 1 500px;
    }
    #greeting {
        font-size: 2em;
        padding: 25px
    } */
}